<configuration>
	<header>
		<filename>acl.xml</filename>
		<description>ACL Table contains policy records</description>
		<version>1</version>
		<dmpath>igd.vsg.firewall.acl</dmpath>
		<instancepath>igd.vsg{general}.firewall.acl</instancepath>
	</header>
<body>
	<record name='acl' type='1' relative_dmpath='acl'/>
	<dictionary>
		<a0>ruleid  type=2</a0>
		<a1>relativekey  type=2</a1>
		<a2>fromnettype  type=1</a2>
		<a3>tonettype  type=1</a3>
		<a4>sourceiptype  type=1</a4>
		<a5>destiptype  type=1</a5>
		<a6>action  type=1</a6>
		<a7>sourceipname  type=1</a7>
		<a8>sourceipaddr  type=7</a8>
		<a9>sourceipstartrange  type=7</a9>
		<a10>sourceipendrange  type=7</a10>
		<a11>destipaddr  type=7</a11>
		<a12>destipname  type=1</a12>
		<a13>destipstartrange  type=7</a13>
		<a14>destipendrange  type=7</a14>
		<a15>sourceipsubnetaddr  type=7</a15>
		<a16>sourceipmaskaddr  type=7</a16>
		<a17>destipsubnetaddr  type=7</a17>
		<a18>destipmaskaddr  type=7</a18>
		<a19>sourceporttype  type=1</a19>
		<a20>destporttype  type=1</a20>
		<a21>sourceport  type=2</a21>
		<a22>destport  type=2</a22>
		<a23>sourceportstartrange  type=2</a23>
		<a24>sourceportendrange  type=2</a24>
		<a25>destportstartrange  type=2</a25>
		<a26>destportendrange  type=2</a26>
		<a27>servicename  type=1</a27>
		<a28>protocol  type=1</a28>
		<a29>timewindow  type=1</a29>
		<a30>adminstatus  type=1</a30>
		<a31>log  type=1</a31>
		<a32>mss  type=2</a32>
		<a33>relativity  type=1</a33>
	</dictionary>
		<row>
			<a2>CORP</a2>
			<a3>EXTERNAL</a3>
			<a32>0</a32>
			<a31>enable</a31>
			<a0>1</a0>
			<a30>enable</a30>
			<a4>any</a4>
			<a5>any</a5>
			<a28>all</a28>
			<a19>any</a19>
			<a20>any</a20>
			<a6>allow</a6>
		</row>
		<row>
			<a2>DMZ</a2>
			<a3>EXTERNAL</a3>
			<a32>0</a32>
			<a31>enable</a31>
			<a0>2</a0>
			<a30>enable</a30>
			<a4>any</a4>
			<a5>any</a5>
			<a28>icmp</a28>
			<a19>any</a19>
			<a20>any</a20>
			<a6>allow</a6>
		</row>
		<row>
			<a2>DMZ</a2>
			<a3>EXTERNAL</a3>
			<a32>0</a32>
			<a31>enable</a31>
			<a0>3</a0>
			<a30>enable</a30>
			<a4>any</a4>
			<a5>any</a5>
			<a28>all</a28>
			<a19>any</a19>
			<a20>servicename</a20>
			<a27>TELNET</a27>
			<a6>allow</a6>
		</row>
		<row>
			<a2>DMZ</a2>
			<a3>EXTERNAL</a3>
			<a32>0</a32>
			<a31>enable</a31>
			<a0>4</a0>
			<a30>enable</a30>
			<a4>any</a4>
			<a5>any</a5>
			<a28>all</a28>
			<a19>any</a19>
			<a20>servicename</a20>
			<a27>HTTP</a27>
			<a6>allow</a6>
		</row>
		<row>
			<a2>DMZ</a2>
			<a3>EXTERNAL</a3>
			<a32>0</a32>
			<a31>enable</a31>
			<a0>5</a0>
			<a30>enable</a30>
			<a4>any</a4>
			<a5>any</a5>
			<a28>all</a28>
			<a19>any</a19>
			<a20>servicename</a20>
			<a27>FTP</a27>
			<a6>allow</a6>
		</row>
		<row>
			<a2>DMZ</a2>
			<a3>EXTERNAL</a3>
			<a32>0</a32>
			<a31>enable</a31>
			<a0>6</a0>
			<a30>enable</a30>
			<a4>any</a4>
			<a5>any</a5>
			<a28>all</a28>
			<a19>any</a19>
			<a20>servicename</a20>
			<a27>SMTP</a27>
			<a6>allow</a6>
		</row>
		<row>
			<a2>DMZ</a2>
			<a3>EXTERNAL</a3>
			<a32>0</a32>
			<a31>enable</a31>
			<a0>7</a0>
			<a30>enable</a30>
			<a4>any</a4>
			<a5>any</a5>
			<a28>all</a28>
			<a19>any</a19>
			<a20>servicename</a20>
			<a27>POP3</a27>
			<a6>allow</a6>
		</row>
		<row>
			<a2>DMZ</a2>
			<a3>EXTERNAL</a3>
			<a32>0</a32>
			<a31>enable</a31>
			<a0>8</a0>
			<a30>enable</a30>
			<a4>any</a4>
			<a5>any</a5>
			<a28>all</a28>
			<a19>any</a19>
			<a20>servicename</a20>
			<a27>DNS</a27>
			<a6>allow</a6>
		</row>
		<row>
			<a2>DMZ</a2>
			<a3>EXTERNAL</a3>
			<a32>0</a32>
			<a31>enable</a31>
			<a0>9</a0>
			<a30>enable</a30>
			<a4>any</a4>
			<a5>any</a5>
			<a28>all</a28>
			<a19>any</a19>
			<a20>servicename</a20>
			<a27>HTTPS</a27>
			<a6>allow</a6>
		</row>
		<row>
			<a2>DMZ</a2>
			<a3>EXTERNAL</a3>
			<a32>0</a32>
			<a31>enable</a31>
			<a0>10</a0>
			<a30>enable</a30>
			<a4>any</a4>
			<a5>any</a5>
			<a28>all</a28>
			<a19>any</a19>
			<a20>servicename</a20>
			<a27>IMAP4</a27>
			<a6>allow</a6>
		</row>
		<row>
			<a2>EXTERNAL</a2>
			<a3>SELF</a3>
			<a32>0</a32>
			<a31>enable</a31>
			<a0>11</a0>
			<a30>enable</a30>
			<a4>any</a4>
			<a5>any</a5>
			<a28>tcp</a28>
			<a19>any</a19>
			<a20>any</a20>
			<a6>deny</a6>
		</row>
		<row>
			<a2>SELF</a2>
			<a3>ANY</a3>
			<a32>0</a32>
			<a31>disable</a31>
			<a0>12</a0>
			<a30>enable</a30>
			<a4>any</a4>
			<a5>any</a5>
			<a28>tcp</a28>
			<a19>any</a19>
			<a20>any</a20>
			<a6>allow</a6>
		</row>
		<row>
			<a2>SELF</a2>
			<a3>ANY</a3>
			<a32>0</a32>
			<a31>disable</a31>
			<a0>13</a0>
			<a30>enable</a30>
			<a4>any</a4>
			<a5>any</a5>
			<a28>udp</a28>
			<a19>any</a19>
			<a20>any</a20>
			<a6>allow</a6>
		</row>
		<row>
			<a2>CORP</a2>
			<a3>SELF</a3>
			<a32>0</a32>
			<a31>enable</a31>
			<a0>14</a0>
			<a30>enable</a30>
			<a4>any</a4>
			<a5>any</a5>
			<a28>tcp</a28>
			<a19>any</a19>
			<a20>any</a20>
			<a6>allow</a6>
		</row>
		<row>
			<a2>ANY</a2>
			<a3>SELF</a3>
			<a32>0</a32>
			<a31>enable</a31>
			<a0>15</a0>
			<a30>enable</a30>
			<a4>any</a4>
			<a5>any</a5>
			<a28>tcp</a28>
			<a19>any</a19>
			<a20>any</a20>
			<a6>allow</a6>
		</row>
		<row>
			<a2>ANY</a2>
			<a3>SELF</a3>
			<a32>0</a32>
			<a31>enable</a31>
			<a0>16</a0>
			<a30>enable</a30>
			<a4>any</a4>
			<a5>any</a5>
			<a28>udp</a28>
			<a19>any</a19>
			<a20>any</a20>
			<a6>allow</a6>
		</row>
		<row>
			<a2>CORP</a2>
			<a3>SELF</a3>
			<a32>0</a32>
			<a31>enable</a31>
			<a0>17</a0>
			<a30>enable</a30>
			<a4>any</a4>
			<a5>any</a5>
			<a28>udp</a28>
			<a19>any</a19>
			<a20>any</a20>
			<a6>allow</a6>
		</row>
		<row>
			<a2>CORP</a2>
			<a3>SELF</a3>
			<a32>0</a32>
			<a31>enable</a31>
			<a0>18</a0>
			<a30>enable</a30>
			<a4>any</a4>
			<a5>any</a5>
			<a28>icmp</a28>
			<a19>any</a19>
			<a20>any</a20>
			<a6>allow</a6>
		</row>
		<row>
			<a2>ANY</a2>
			<a3>SELF</a3>
			<a32>0</a32>
			<a31>enable</a31>
			<a0>19</a0>
			<a30>enable</a30>
			<a4>any</a4>
			<a5>any</a5>
			<a28>udp</a28>
			<a19>any</a19>
			<a20>any</a20>
			<a6>allow</a6>
		</row>
		<row>
			<a2>ANY</a2>
			<a3>SELF</a3>
			<a32>0</a32>
			<a31>enable</a31>
			<a0>20</a0>
			<a30>enable</a30>
			<a4>any</a4>
			<a5>any</a5>
			<a28>udp</a28>
			<a19>any</a19>
			<a20>any</a20>
			<a6>allow</a6>
		</row>
		<row>
			<a2>ANY</a2>
			<a3>SELF</a3>
			<a32>0</a32>
			<a31>enable</a31>
			<a0>21</a0>
			<a30>enable</a30>
			<a4>any</a4>
			<a5>any</a5>
			<a28>udp</a28>
			<a19>any</a19>
			<a20>any</a20>
			<a6>allow</a6>
		</row>
		<row>
			<a2>ANY</a2>
			<a3>SELF</a3>
			<a32>0</a32>
			<a31>enable</a31>
			<a0>22</a0>
			<a30>enable</a30>
			<a4>any</a4>
			<a5>any</a5>
			<a28>tcp</a28>
			<a19>any</a19>
			<a20>any</a20>
			<a6>allow</a6>
		</row>
		<row>
			<a2>EXTERNAL</a2>
			<a3>SELF</a3>
			<a32>0</a32>
			<a31>enable</a31>
			<a0>23</a0>
			<a30>enable</a30>
			<a4>any</a4>
			<a5>any</a5>
			<a28>udp</a28>
			<a19>any</a19>
			<a20>any</a20>
			<a6>allow</a6>
		</row>
		<row>
			<a2>EXTERNAL</a2>
			<a3>SELF</a3>
			<a32>0</a32>
			<a31>enable</a31>
			<a0>24</a0>
			<a30>enable</a30>
			<a4>any</a4>
			<a5>any</a5>
			<a28>tcp</a28>
			<a19>any</a19>
			<a20>any</a20>
			<a6>deny</a6>
		</row>
		<row>
			<a2>ANY</a2>
			<a3>SELF</a3>
			<a32>0</a32>
			<a31>enable</a31>
			<a0>25</a0>
			<a30>enable</a30>
			<a4>any</a4>
			<a5>any</a5>
			<a28>tcp</a28>
			<a19>any</a19>
			<a20>any</a20>
			<a6>allow</a6>
		</row>
		<row>
			<a2>ANY</a2>
			<a3>SELF</a3>
			<a32>0</a32>
			<a31>enable</a31>
			<a0>26</a0>
			<a30>enable</a30>
			<a4>any</a4>
			<a5>any</a5>
			<a28>udp</a28>
			<a19>any</a19>
			<a20>any</a20>
			<a6>allow</a6>
		</row>
		<row>
			<a2>SELF</a2>
			<a3>ANY</a3>
			<a32>0</a32>
			<a31>enable</a31>
			<a0>27</a0>
			<a30>enable</a30>
			<a4>any</a4>
			<a5>any</a5>
			<a28>all</a28>
			<a19>any</a19>
			<a20>any</a20>
			<a6>allow</a6>
		</row>
</body>
</configuration>